In [1]:
import pandas as pd
import mysql.connector as connector

In [3]:
try:   
    conn = connector.connect(user="", password="",database="")
    print("Connected Succesfully")
except:
    print("Failed to Connect")

Connected Succesfully

In [4]:
cursor = conn.cursor()
cursor.execute("SHOW TABLES;")
result = cursor.fetchall()
print(result)
print

[('bookings',), ('customer',), ('menu',), ('orderdeliverystatus',), ('orders',), ('ordersview',), ('staff',)]

In [ ]:
cursor.execute("""SELECT c.Name,
               c.ContactNumber FROM Customer AS c INNER JOIN Orders AS o 
               ON c.CustomerID = o.CustomerID WHERE o.Total_Cost > 60""")